

RewriteCond %{HTTP_HOST} ^gauravkunal.com$ [NC]
RewriteRule (.*) https://www.gauravkunal.com/$1 [R=301,L] 

RewriteEngine On
RewriteCond %{HTTPS} off [NC]
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]